<h1>Sign Up</h1>
<%= form_with model: @user, url: users_path, local: true do |f| %>
  <p>Name: <%= f.text_field :name %></p>
  <p>Email: <%= f.email_field :email %></p>
  <p>Password: <%= f.password_field :password %></p>
  <p>Confirm Password: <%= f.password_field :password_confirmation %></p>
  <p>Avatar: <%= f.file_field :avatar %></p>
  <%= f.submit "Register" %>
<% end %>
<%= link_to "Back", users_path %>
